In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pv_data = pd.read_excel(r"C:\Users\Dell\Documents\GitHub\opf\data\raw\PV_data.xlsx")

In [3]:
pv_data['Timestamp'] = pd.to_datetime(pv_data['Timestamp'], format='%Y%m%d%H%M%S')
# set the timestamp column as the dataframe index
pv_data.set_index('Timestamp', inplace=True)
# resample the dataframe to hourly frequency
pv_data = pv_data.resample('1H').first()
pv_data.head()

,No 1,No 2,No 3,No 4,No 5,No 6,No 7,No 8,No 9,No 10,...,No 31,No 32,No 33,No 34,No 35,No 36,No 37,No 38,No 39,No 40
Timestamp,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"0,001",0,0
2015-01-01 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-01 02:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-01 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-01 04:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
pv_data = pv_data.applymap(lambda x: float(x.replace(',', '') if type(x) is not int else x))

In [9]:
pv_data_mean = pv_data.mean(axis=1).to_numpy()/1000 # make kWh
pv_data_std = pv_data.std(axis=1).to_numpy()/1000 # make kWh

In [19]:
np.save(r"C:\Users\Dell\Documents\GitHub\opf\data\interim\pv_mean.npy",pv_data_mean)
np.save(r"C:\Users\Dell\Documents\GitHub\opf\data\interim\pv_std.npy",pv_data_std)